/resources/hourglass.png
/resources/splash/gothergood.mp4
/resources/tick.png
/VG.txt
__pycache__/
*.py[cod]
*.ini
dist/
build/
main.dist/
main.build/
generated/pkg_resources_hook.py
vaerity.spec
/heatmap.csv
